<div class="card text-white bg-secondary col-sm-8 offset-2">
  <h5 class="card-title ">Change password</h5>
  <div class="form-group">
    <input type="password" class="form-control" name="username" [(ngModel)]="modelUser.password" required>
  </div>
  <div class="form-group">
    <label>Confirm password</label>
    <input type="password" class="form-control" name="confirmPass" [(ngModel)]="confirmPass"/>
  </div>
  <br>
  <div class="form-group">
    <button class="btn btn-primary" (click)="changePass()">Submit</button>
  </div>
</div>
